<!-- <h1>Finding the best real estate requires a detective mindset. You'll need a detailed way of keeping notes. That way, as the mystery of which property to buy unfolds, you'll be able to reference back to the other leads you've pursued to see if you missed any important clues. Introducing Holmes, the best way to organize facts and comments about properties. </h1> -->


<div id="homepage-wrapper" class="container">
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading"><span class="header-text">Welcome to Holmes! </span></h2>
                    <hr class="light">
                    <p class="text-faded"><span class="header-text">Holmes is the easiest way for potential home buyers or renters to organize all the places they've seen.</span></p>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-table wow bounceIn text-primary"></i>
                        <h3>Customized Dashboard</h3>
                        <p class="text-muted">Each user can create a customized dashboard based on their preferences</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-home wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Prepopulated Data</h3>
                        <p class="text-muted">Holmes leverages Zillow and Walk Score data to prepopulate new listings</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-usd wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Financial Metrics</h3>
                        <p class="text-muted">Using proprietary formulas, users can view financial metrics like mortgage payment, cost per square foot, and rental income.</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Decision Support</h3>
                        <p class="text-muted">You have to make your websites with love these days!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class= "col-md-2"></div>
                <div class="col-md-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-md-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn"></i>
                    <p><a href="mailto:zps1009@gmail.com">feedback@holmes.com</a></p>
                </div>
            </div>
        </div>
    </section>

</div>

    