<div class="dashboard container">
    
    <div class="ibox-content ibox">
         <div class="row">
            <div class="col-sm-9">
                <div class="input-group">
                    <a href='/listings/new'>Create new listing </a>
                </div>
            </div>
            <div class="col-sm-3 wrench">
                <a href="#">
                    <i class="fa fa-wrench"></i>
                </a>
            </div>
         </div>
    </div>
    <div class="table table-bordered table-striped">
            <table class="table">
                <thead>
                    <tr>
                        <th>Address</th>
                        <th>Price</th>
                        <th>Sq Ft</th>
                        <th>Cost / SqFt</th>
                        <th>Monthly Debt Service</th>
                        <th>Walk Score</th>
                        <th>Amenities Score</th>
                        <th>Building Score</th>
                    </tr>
                </thead>
                <tbody>
                    <ul data-as-sortable="board.dragControlListeners" data-ng-model="items">
                    <tr ng-repeat="listing in listings">
                        <td><li><a href="/listings/{{ listing.id }}"> {{listing.address}}</a></li></td>
                        <td><li> {{ listing.price }}</li></td>
                        <td><li> {{ listing.sqft }}</li></td>
                        <td><li> {{ listing.cost_per_sqft }}</li></td>
                        <td><li> {{ listing.monthly_pmt(current_user) }}</li></td>
                        <td><li> {{ listing.walk_score }}</li></td>
                        <td><li> listing.comments.find_by(comment_type: "amenities").score</li></td>
                        <td><li>FIX</li></td>
                    </tr>
                    </ul>
                </tbody>
            </table>
     </div>
</div>
