<div class="dashboard container">
    
    <div class="ibox-content ibox">
         <div class="row">
            <div class="create-listing col-lg-9">
                <div class="input-group">
                    <a href='/listings/new'><i class="fa fa-2x fa-plus"></i></a>
                    <a href='/listings/new'><p>Create new listing</p></a>
                </div>
            </div>
            <div class="create-listing col-sm-3 settings">
                <a href='/dashboards/edit'><p>Edit Dashboard</p></a>
                <a href="/dashboards/edit"><i class="fa fa-2x fa-cogs"></i></a>
            </div>
         </div>
    </div>
    <div class="table">
            <table class="table table-striped">
                <thead>
                    <tr> 
                        <th ng-repeat="header in headings">{{header.header_title}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="listing in listings">
                        <td ng-repeat="dashboard in listing.dashboard">
                            <a href='listings/{{listing.id}}'>{{dashboard.attribute_value}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
     </div>
</div>
