<div class="dashboard container">
    
    <div class="ibox-content ibox">
         <div class="row">
            <div class="col-sm-9">
                <div class="input-group">
                    <a href='/listings/new'>Create new listing </a>
                </div>
            </div>
            <div class="col-sm-3 wrench">
                <a href="/dashboards/edit">
                    <i class="fa fa-wrench"></i>
                </a>
            </div>
         </div>
    </div>
    <div class="table table-bordered table-striped">
            <table class="table">
                <thead>
                    <tr> 
                        <th ng-repeat="header in headings">{{header.header_title}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="listing in listings">
                        <td><a href="/listings/{{ listing.id }}"> {{listing.address}}</a></td>
                        <td> {{ listing.price }}</td>
                        <td> {{ listing.sqft }}</td>
                        <td> {{ listing.cost_per_sqft }}</td>
                        <td> {{ listing.monthly_pmt(current_user) }}</td>
                        <td> {{ listing.walk_score }}</td>
                        <td> listing.comments.find_by(comment_type: "amenities").score</td>
                        <td>FIX</td>
                    </tr>
                </tbody>
            </table>
     </div>
</div>
