<div ng-app="app">
  <div ng-controller="dashboardController">

<%= form_tag "/dashboards", method: :patch do %>
  <%= button_tag 'Update', class: "btn btn-default pull-right" %>

    <div class="container simpleDemo">
      <div class="col-md-12">
        <div class="row">
          <div ng-repeat="(listName, list) in models.lists" class="col-md-4">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h2 class="panel-title"> {{listName}}</h2>
                <ol dnd-list="list">
                <!-- The dnd-draggable directive makes an element draggable and will
                     transfer the object that was assigned to it. If an element was
                     dragged away, you have to remove it from the original list
                     yourself using the dnd-moved attribute -->
                     <li ng-repeat="item in list"
                     dnd-draggable="item"
                     dnd-moved="list.splice($index, 1)"
                     dnd-effect-allowed="move"
                     dnd-selected="models.selected = item"
                     ng-class="{'selected': models.selected === item}">
                     {{item.label}}

                   </li>
                 </ol>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
<% end %>
   </div>
 </div>








