<div ng-app="app">
  <div ng-controller="dashboardController">
    <div class="container simpleDemo">
      <div class="col-md-12">
        <div class="row">
          <div ng-repeat="(listName, list) in models.lists" class="col-md-4">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title"> {{listName}}</h3>
                <ol dnd-list="list">
                <!-- The dnd-draggable directive makes an element draggable and will
                     transfer the object that was assigned to it. If an element was
                     dragged away, you have to remove it from the original list
                     yourself using the dnd-moved attribute -->
                     <li ng-repeat="item in list"
                     dnd-draggable="item"
                     dnd-moved="list.splice($index, 1)"
                     dnd-effect-allowed="move"
                     dnd-selected="models.selected = item"
                     ng-class="{'selected': models.selected === item}">
                     {{item.label}}

                   </li>
                 </ol>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>





<%= form_tag "/dashboards", method: :patch do %>
  <%= button_tag 'Update', class: "btn btn-default pull-right" %>

    <div class="table table-bordered table-striped">
            <table class="table">
                <thead>
                    <tr>
                        <th>Address</th>
                        <th>Price</th>
                        <th>Sq Ft</th>
                        <th>Cost / SqFt</th>
                        <th>Monthly Debt Service</th>
                        <th>Walk Score</th>
                        <th>Amenities Score</th>
                        <th>Building Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="listing in listings">
                        <td><a href="/listings/{{ listing.id }}"> {{listing.address}}</a></td>
                        <td> {{ listing.price }}</td>
                        <td> {{ listing.sqft }}</td>
                        <td> {{ listing.cost_per_sqft }}</td>
                        <td> {{ listing.monthly_pmt(current_user) }}</td>
                        <td> {{ listing.walk_score }}</td>
                        <td> listing.comments.find_by(comment_type: "amenities").score</td>
                        <td>FIX</td>
                    </tr>
                </tbody>
            </table>
     </div>
</div>
    
<% end %>

</div>
</div>

