.show-profile {
  background-image: image-url("house-door.jpeg");
  background-size: 1200px;
  background-position: center;
  height: 700px;
}

.assumptions-info {
  height: 150px;
}

.assumptions-wells {
  margin-top: 30px;
}

.show-listing-edit a {
  color: white;
}

.show-listing-edit p {
  display: none;
  margin-right: 5px;
  margin-bottom: 10px;
}

.show-listing-edit:hover {
  p {
    display: inline;
  }
}

.show-listing-edit {
  margin-right: 0;
}