// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboard-container {
  padding-top: 30px;
}
.panel-title {
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
}

// aligns the visible and hidden lists in the middle of the screen
.dashboard-boxes {
  padding-left: 15%;
}

.dashboard-address {
  margin-top: 15px;
}
.dashboard-text p {
  display: none;
  padding-right: 10px;
}

.dashboard-text {
  margin-left: 40px;
}

.dashboard-text:hover {
  p {
    display: inline;
  }
  a {
    color: #727271;
  }
}

.panel-info > .panel-heading {
  background-color: white;
  border-color: white;
  color: black;
}

.dashboard-save {
  color: #727271
}