.show-listing {
  padding: 5% 5%;
}

.dashboard {
  margin-top: 30px; 
}

.table a {
  color: #727271;
}

.ibox a {
  color: #727271;
}

.ibox-content {
  padding-bottom: 15px;
}

.wrench {
  text-align: right;
}

.create_address:hover {
  background-color: #727271;
  color: white;
  border-radius: 6px;
}